@model DesafioFC.Domain.Paciente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<<h2>Detalhes</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd class="telefone">
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Alterar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>